<h1 mat-dialog-title>Introduzca tags que desee tener</h1>
<div mat-dialog-content style="display: flex; max-width: 500px">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>Nombre de la tag</mat-label>
    <input matInput [(ngModel)]="name" placeholder="" />
  </mat-form-field>
  <br />
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="addTag(name)"
    (click)="saveTags()"
  >
    Guardar
  </button>
</div>
