<mat-sidenav-container class="example-container">
  <mat-sidenav *ngIf="showSidenav" #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/homepage" (click)="sidenav.close()"
        >Horarios</a
      >
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/workers" (click)="sidenav.close()"
        >Trabajadores</a
      >
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/spaces" (click)="sidenav.close()"
        >Espacios</a
      >
      <a mat-list-item routerLink="/tasks" (click)="sidenav.close()">Tareas</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="showSidenav" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="home-link" routerLink="/homepage">Scheduler ASP</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
