<body class="body">
  <div class="container-fluid" style="margin-top: 20px">
    <div class="row">
      <div class="col-md-3">
        <div class="rectangle">
          <p class="rectangle-text">Subject</p>
        </div>
        <div *ngFor="let card of columnas[0]">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mathematics</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-info">Info</a>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-info" (click)="add(1)">Add</button>
      </div>
      <div class="col-md-3">
        <div class="rectangle">
          <p class="rectangle-text">Teacher</p>
        </div>
        <div *ngFor="let card of columnas[1]"></div>
        <button class="btn btn-outline-info" (click)="add(2)">Add</button>
      </div>
      <div class="col-md-3">
        <div class="rectangle">
          <p class="rectangle-text">Classroom</p>
        </div>
        <div *ngFor="let card of columnas[2]"></div>
        <button class="btn btn-outline-info" (click)="add(3)">Add</button>
      </div>
      <div class="col-md-3">
        <div class="rectangle">
          <p class="rectangle-text">Course</p>
        </div>
        <div *ngFor="let card of columnas[2]"></div>
        <button class="btn btn-outline-info" (click)="add(3)">Add</button>
      </div>
    </div>
  </div>
  <button class="btn btn-success">Generate Timetable</button>
</body>
