*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}

.btn-outline-info{ /* Button Add */ 
    width: 100%;
    color: black;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajusta según tus preferencias */
}

.btn-outline-info:hover{ /* Button Add hover */
    color: white;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info{ /* Button Info */
    color: white;
    font-weight: bold;
}

.btn-success{ /* Button Success */
    /* position: fixed; */
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.card{ /* Card */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rectangle{ /* Rectangle (Teacher, subject...) */
    width: 100%; 
    height: 60px;
    border-radius: 15px;
    background-color: #5bc0de;
    margin-bottom: 20px;
    padding-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-text{ /* Rectangle text (Teacher, subject...) */
    font-size: larger;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}
