.example-container {
  height: 100%;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-sidenav {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.home-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.logout {
  margin-left: auto;
  cursor: pointer;
}

.logout:hover {
  color: red;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  padding: 8px 16px;
}

.menu-item mat-icon {
  margin-right: 8px;
}
