<h1 mat-dialog-title>Introduzca la Información de la tarea</h1>
<div mat-dialog-content>
  <form [formGroup]="scheduableTaskForm" style="margin: 10px">
    <div style="display: flex">
      <div class="column">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Nombre de la tarea</mat-label>
          <input matInput formControlName="name" placeholder="" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Tamaño requerido</mat-label>
          <input
            matInput
            formControlName="taskSize"
            placeholder=""
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="column">
        <br />
        <mat-form-field appearance="outline" *ngIf="!isCommon">
          <mat-label>Trabajador</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let worker of data.dataWorkers"
              [value]="worker"
              (onSelectionChange)="onSelectionWorker(worker)"
              >{{ worker.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" *ngIf="!isCommon">
          <mat-label>Espacio</mat-label>
          <mat-select>
            <mat-option
              *ngFor="let space of data.dataSpaces"
              [value]="space"
              (onSelectionChange)="onSelectionSpace(space)"
              >{{ space.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <h4 *ngIf="!isCommon">Tags disponibles:</h4>
    <mat-chip-listbox multiple="true" *ngIf="!isCommon">
      <mat-chip-option
        *ngFor="let tag of availableTags"
        [value]="tag"
        (selectionChange)="onSelectionTag(tag)"
      >
        {{ tag.name }}
      </mat-chip-option>
    </mat-chip-listbox>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="saveScheduableTask()"
    [disabled]="tags.length !== 3 && tags.length !== 0"
  >
    Guardar
  </button>
</div>
