<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <ng-container *ngFor="let solution of displayedSolutions">
        <mat-list-item (click)="selectSolution(solution)">
          Solución {{ solution.solution_id }}
        </mat-list-item>
      </ng-container>
      <mat-list-item *ngIf="currentIndex < solutions.length">
        <button mat-button (click)="loadMoreSolutions()">Cargar más</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="home-link" routerLink="/homepage">Scheduler ASP</span>
    </mat-toolbar>
    <!-- Contenido resto de pagina -->
    <div style="margin: 5px">
      <app-generatedCalendarOption></app-generatedCalendarOption>
    </div>
    <button mat-raised-button color="primary" class="save-button">
      Guardar calendario
    </button>
    <!-- /Contenido resto de pagina -->
  </mat-sidenav-content>
</mat-sidenav-container>
