<h1 mat-dialog-title>Introduzca la Información del Trabajador</h1>
<div mat-dialog-content>
  <form [formGroup]="workerForm" style="margin: 10px">
    <p class="fieldname">Nombre del trabajador</p>
    <mat-form-field appearance="outline" color="primary" style="width: 100%">
      <mat-label>Nombre del Trabajador</mat-label>
      <input matInput formControlName="name" placeholder="" />
      <mat-error *ngIf="workerForm.get('name')?.hasError('required')">
        El nombre del trabajador es obligatorio
      </mat-error>
    </mat-form-field>
    <br />
    <div>
      <p class="fieldname">
        Turnos con restricciones
        <mat-icon
          matTooltip="Seleccione los turnos en los que el trabajador no estará disponible"
          >help</mat-icon
        >
      </p>
      <mat-form-field
        style="margin-top: 5px; width: 100%"
        appearance="outline"
        *ngIf="!isCommon"
      >
        <mat-label>Turnos con restricciones </mat-label>
        <mat-select multiple [value]="this.data.restrictionTurns">
          <mat-option
            *ngFor="let turn of data.turns"
            [value]="turn"
            (onSelectionChange)="onSelectionChange(turn)"
            >{{ turn.day }}, {{ turn.displayTime }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="saveWorker()"
    [disabled]="workerForm.invalid"
  >
    Guardar
  </button>
</div>
