<h1 mat-dialog-title>Introduzca la Información del espacio</h1>
<div mat-dialog-content>
  <form [formGroup]="spaceForm" style="margin: 10px">
    <p class="fieldname">Nombre del espacio</p>
    <mat-form-field appearance="outline" color="primary" style="width: 100%">
      <mat-label>Nombre del espacio</mat-label>
      <input matInput formControlName="name" placeholder="" />
      <mat-error *ngIf="spaceForm.get('name')?.hasError('required')">
        El nombre del espacio es obligatorio
      </mat-error>
    </mat-form-field>
    <br />
    <p class="fieldname">Capacidad del espacio</p>
    <mat-form-field appearance="outline" color="primary" style="width: 100%">
      <mat-label>Capacidad del espacio</mat-label>
      <input
        matInput
        formControlName="spaceCapacity"
        placeholder=""
        type="number"
      />
      <mat-error *ngIf="spaceForm.get('spaceCapacity')?.hasError('required')">
        La capacidad del espacio es obligatoria
      </mat-error>
    </mat-form-field>
    <div>
      <p class="fieldname">
        Turnos con restricciones
        <mat-icon
          matTooltip="Seleccione los turnos en los que el espacio no estará disponible"
          >help</mat-icon
        >
      </p>
      <mat-form-field
        appearance="outline"
        *ngIf="!isCommon"
        style="width: 100%"
      >
        <mat-label>Turnos con restricciones ></mat-label>
        <mat-select multiple>
          <mat-option
            *ngFor="let turn of data.turns"
            [value]="turn"
            (onSelectionChange)="onSelectionChange(turn)"
            >{{ turn.day }}, {{ turn.displayTime }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="saveSpace()"
    [disabled]="spaceForm.invalid"
  >
    Guardar
  </button>
</div>
