<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
</button> -->
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step
    [stepControl]="secondFormGroup"
    label="Restricciones y revisión horario"
  >
    <form [formGroup]="secondFormGroup">
      <!-- <mat-form-field>
      <mat-label>Address</mat-label>
      <input
        matInput
        formControlName="secondCtrl"
        placeholder="Ex. 1 Main St, New York, NY"
        required
      />
    </mat-form-field> -->
      <!-- <div>
      <button
        class="buttonForm"
        mat-raised-button
        color="primary"
        matStepperPrevious
      >
        Back
      </button>
      <button
        class="buttonForm"
        mat-raised-button
        color="primary"
        matStepperNext
      >
        Next
      </button>
    </div> -->
    </form>
  </mat-step>
  <!-- -----Step 1------------ -->
  <mat-step [stepControl]="firstFormGroup" label="Información del horario">
    <form [formGroup]="firstFormGroup">
      <h2>Información del horario</h2>
      <div style="display: flex">
        <div class="column">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Nombre del horario</mat-label>
            <input matInput formControlName="nombreHorario" placeholder="" />
          </mat-form-field>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Días de la semana</mat-label>
              <mat-select [formControl]="weekDays" multiple>
                <mat-option *ngFor="let day of daysOfWeek" [value]="day">{{
                  day
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <label *ngIf="weekDays.value && weekDays.value.length > 0">
              Días seleccionados:
              <span *ngFor="let selectedDay of weekDays.value">
                {{ selectedDay }}
                <!-- Añade una coma y un espacio si no es el último día -->
                <ng-container *ngIf="!isLast(selectedDay, weekDays.value)"
                  >,
                </ng-container>
              </span>
            </label>
          </div>
          <mat-form-field appearance="outline" color="primary">
            <mat-label>Duración de los turnos</mat-label>
            <input
              matInput
              formControlName="turnDuration"
              type="number"
              placeholder=""
            />
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline">
            <mat-label>Hora Inicio primer turno</mat-label>
            <input
              matInput
              formControlName="firstTurnTime"
              type="time"
              placeholder="Selecciona una hora"
            />
            <!-- <mat-icon matSuffix (click)="picker.open()">schedule</mat-icon>
      <mat-timepicker #picker></mat-timepicker> -->
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline">
            <mat-label>Hora Inicio último turno</mat-label>
            <input
              matInput
              type="time"
              formControlName="lastTurnTime"
              placeholder="Selecciona una hora"
            />
            <!-- <mat-icon matSuffix (click)="picker.open()">schedule</mat-icon>
      <mat-timepicker #picker></mat-timepicker> -->
          </mat-form-field>
          <mat-checkbox>Último turno extendible</mat-checkbox>
        </div>
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Días de la semana</mat-label>
            <mat-select [formControl]="weekDaysRestriction" multiple>
              <mat-option *ngFor="let day of daysOfWeek" [value]="day">{{
                day
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Hora del día</mat-label>
            <input
              matInput
              type="time"
              formControlName="dayTimerestriction"
              placeholder=""
            />
          </mat-form-field>
          <button
            mat-raised-button
            (click)="addItemDayTimeRestriction()"
            color="primary"
          >
            Aceptar
          </button>
          <mat-list class="restrictionList">
            <mat-list-item
              *ngFor="let item of items"
              (contextmenu)="onRightClick($event, item)"
            >
              {{ item }}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!------------------------------------ Step 2 -------------------------------------->

  <!------------------------------------ Step 3 -------------------------------------->

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
